<div class="toast-container position-fixed top-0 end-0 p-3">
  <div 
    *ngFor="let t of toasts()"
    class="toast show align-items-center text-white border-0 mb-2"
    [ngClass]="{
      'bg-success': t.type === 'success',
      'bg-danger': t.type === 'error',
      'bg-warning text-dark': t.type === 'warning',
      'bg-info': t.type === 'info'
    }"
  >
    <div class="d-flex">
      <div class="toast-body">
        {{ t.message }}
      </div>
      <button 
        type="button" 
        class="btn-close btn-close-white me-2 m-auto"
        (click)="notification.remove(t)">
      </button>
    </div>
  </div>
</div>

<!-- <div class="notification-box">

  @for (n of notifications; track n.id) {

    <div class="alert"
         [ngClass]="{
           'alert-success': n.type === 'success',
           'alert-info': n.type === 'info',
           'alert-warning': n.type === 'warning'
         }">

      {{ n.message }}

      <button (click)="remove(n.id)">×</button>

    </div>

  }

</div> -->